* {
	font-family: 'Fresca', sans-serif;
}

.info-box {
	height: 4%;
	margin-left: 20px;
	padding: 8% 5% 0% 5%;
	border: 3px solid blue;
	border-radius: 15%;
}

.login, .reset_newacc{
	padding: 10px;
	position: absolute;
	background-color: #9eaabc;
	text-align: center;
	margin-left: 37.5vw;
	margin-top: 30vh;
	width: 25vw;
	border-radius: 10px;
	z-index: 2;
}

.reset_newacc {
	margin-top: 75vh;
}

@media screen and (max-width: 500px) {
	.login, .reset_newacc {
		width: 40vw;
		margin-left: 30vw;
	}
}

@media screen and (min-width: 1000px) {
	.login, .reset_newacc {
		width: 15vw;
		margin-left: 42.5vw;
	}
}

.overlay{
	background-color: rgba(158, 170, 188, 0.5);
	position: absolute;
	z-index: 1;
	height: 98.5vh;
	width: 98.5vw;
}

#submit {
	border: 2px solid #4286f4;
	border-radius: 10px;
	background-color: #d5e8e7;
}

